
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>
            Mis Cursos de Platzi💚
        </h1>
        <p>
            <input type="text" v-model="title" placeholder="Titulo del curso" />
        </p>
        <p>
            <input type="number" v-model="time" placeholder="Horas" />
        </p>
        <p>
            <button v-on:click="saveCourse" >Guardar Curso</button>
        </p>
        </fieldset>
        <div>
            <h3>Lista de Cursos</h3>
            <p class="red" v-show=" courses.length == 0" >Aun no has realizado cursos</p>
            <div>
                <ol>
                    <!-- Lista de cursos -->
                    <li v-for="course in courses" :key="course.title">
                        {{ course.title }} - {{ course.time }}
                    </li>

                </ol>
                <hr />
                <p>
                    Llevo <strong>{{ totalTime }}</strong> horas aprendiendo en Platzi.
                    <b>#NuncaParesDeAprender 💚</b>
                </p>
            </div>
        </div>
    </div>    
    <script src="app.js"></script>
</body>
</html>


